[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
anthropic = "*"
boto3 = "*"
ghapi = "*"
great-tables = "*"
jinja2 = "*"
nbclient = "*"
nbconvert = "*"
nbformat = "*"
ollama = "*"
openai = "*"
pandas = "*"
polars = "*"
pyarrow = "*"
python-dotenv = "*"
pyyaml = "*"
reactable = "*"
requests = "*"
rsconnect = "*"
shiny = "*"
shinyswatch = "*"
shinywidgets = "*"

[dev-packages]

[requires]
python_version = "3.12"
