[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
polars = "*"
shiny = "*"
shinyswatch = "*"
ghapi = "*"
pyarrow = "*"
pandas = "*"
jinja2 = "*"
requests = "*"
reactable = "*"
great-tables = "*"
shinywidgets = "*"
pyyaml = "*"
nbformat = "*"
nbconvert = "*"
nbclient = "*"
rsconnect = "*"
openai = "*"
ollama = "*"

[dev-packages]

[requires]
python_version = "3.12"
